<!-- NEW TEMPLATE -->
<!-- Breadcrumbs + Hero-->
<!--<section class="position-relative dark-overlay py-3 py-lg-7"><img src="/assets/img/photo/erii-gutierrez-487083-unsplash.jpg" alt="" class="bg-image">
	<div class="container overlay-content hero hero-page">
		<ul class="breadcrumb justify-content-center no-border mb-0">
			<li class="breadcrumb-item"><a href="index.html" class="text-white">Home</a></li>
			<li class="breadcrumb-item text-white active"><%=@taxon%></li>
		</ul>
		<div class="hero-content pb-5 text-center text-white">
			<h1 class="hero-heading thin-weight d-none"><%= @taxon.name.gsub("-", " ").titleize if !@taxon.nil? %></h1><p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
		</div>
	</div>
</section>-->
<main>
	<div class="container">
		<div class="row">
			<!-- Grid -->
			<div class="products-grid col-12 sidebar-none">
			<!--<div class="products-grid col-xl-9 col-lg-8 order-lg-2">-->
        <h3 class="h6 text-uppercase mb-4"><%= @taxon.name.gsub("-", " ").titleize if !@taxon.nil? %></h3>
				<header class="product-grid-header">
					<div class="mr-3 mb-3">
            <%= page_entries_info @products, entry_name: 'item' %>
						<!--Showing <strong>1-12 </strong>of <strong><%= @products.total_count %> </strong>products-->
					</div>
					<!--<div class="mr-3 mb-3"><span class="mr-2">Show</span><a href="#" class="product-grid-header-show active">12    </a><a href="#" class="product-grid-header-show ">24    </a><a href="#" class="product-grid-header-show ">All    </a>
					</div>
					<div class="mb-3 d-flex align-items-center"><span class="d-inline-block mr-1">Sort by</span>
						<select class="custom-select w-auto border-0">
							<option value="orderby_0">Default</option>
							<option value="orderby_1">Popularity</option>
							<option value="orderby_2">Rating</option>
							<option value="orderby_3">Newest first</option>
						</select>
					</div>-->
				</header>
				<div class="row">
          <% if params[:keywords] %>
            <div data-hook="search_results">
              <% if @products.empty? %>
                <h6 class="search-results-title"><%= Spree.t(:no_products_found) %></h6>
              <% else %>
                <%= render partial: 'spree/shared/products', locals: { products: @products, taxon: @taxon } %>
              <% end %>
            </div>
          <% else %>
            <div data-hook="homepage_products">
              <% cache(cache_key_for_products) do %>
                <%= render partial: 'spree/shared/products', locals: { products: @products, taxon: @taxon } %>
              <% end %>
            </div>
          <% end %>
					<%#= render :partial => 'spree/shared/products', :locals => { :products => @products, :taxon => @taxon }
          %>
				</div>
			</div>
			<!-- / Grid End-->
			<!-- Sidebar-->
      <%# if "spree/products" == params[:controller] && @taxon || @taxonomies.present?
			%>
        <%# content_for :sidebar do
				%>
          <!--<div data-hook="homepage_sidebar_navigation">
						<%=# render partial: 'spree/shared/taxonomies'
						%>
          </div>-->
        <%# end
				%>
      <%# end
			%>
			<!--<div class="sidebar col-xl-3 col-lg-4 order-lg-1">
				<div class="sidebar-block px-3 px-lg-0 mr-lg-4"><a data-toggle="collapse" href="#categoriesMenu" aria-expanded="false" aria-controls="categoriesMenu" class="d-lg-none block-toggler">Product Categories</a>
					<div id="categoriesMenu" class="expand-lg collapse">
						<div class="nav nav-pills flex-column mt-4 mt-lg-0"> <a href="#" class="nav-link d-flex justify-content-between mb-2 "><span>Jackets</span><span class="sidebar-badge"> 120</span></a>
							<div class="nav nav-pills flex-column ml-3"><a href="#" class="nav-link mb-2">Lorem ipsum</a><a href="#" class="nav-link mb-2">Dolor</a><a href="#" class="nav-link mb-2">Sit amet</a><a href="#" class="nav-link mb-2">Donec vitae</a>
							</div><a href="#" class="nav-link d-flex justify-content-between mb-2 active"><span>Jeans &amp; chinos</span><span class="sidebar-badge"> 55</span></a>
							<div class="nav nav-pills flex-column ml-3"><a href="#" class="nav-link mb-2">Lorem ipsum</a><a href="#" class="nav-link mb-2">Dolor</a><a href="#" class="nav-link mb-2">Sit amet</a><a href="#" class="nav-link mb-2">Donec vitae</a>
							</div><a href="#" class="nav-link d-flex justify-content-between mb-2 "><span>Accessories</span><span class="sidebar-badge"> 80</span></a>
							<div class="nav nav-pills flex-column ml-3"><a href="#" class="nav-link mb-2">Sit amet</a><a href="#" class="nav-link mb-2">Donec vitae</a><a href="#" class="nav-link mb-2">Lorem ipsum</a><a href="#" class="nav-link mb-2">Dolor</a>
							</div>
						</div>
					</div>
				</div>
				<div class="sidebar-block px-3 px-lg-0 mr-lg-4"><a data-toggle="collapse" href="#priceFilterMenu" aria-expanded="false" aria-controls="priceFilterMenu" class="d-lg-none block-toggler">Filter by price</a>
					<div id="priceFilterMenu" class="expand-lg collapse">
						<h6 class="sidebar-heading d-none d-lg-block">Price  </h6>
						<div id="slider-snap" class="mt-4 mt-lg-0"> </div>
						<div class="nouislider-values">
							<div class="min">From $<span id="slider-snap-value-lower"></span></div>
							<div class="max">To $<span id="slider-snap-value-upper"></span></div>
							<input type="hidden" name="pricefrom" id="slider-snap-input-lower" value="40" class="slider-snap-input">
							<input type="hidden" name="priceto" id="slider-snap-input-upper" value="110" class="slider-snap-input">
						</div>
					</div>
				</div>
				<div class="sidebar-block px-3 px-lg-0 mr-lg-4"><a data-toggle="collapse" href="#brandFilterMenu" aria-expanded="true" aria-controls="brandFilterMenu" class="d-lg-none block-toggler">Filter by brand</a>-->
					<!-- Brand filter menu - this menu has .show class, so is expanded by default-->
					<!--<div id="brandFilterMenu" class="expand-lg collapse show">
						<h6 class="sidebar-heading d-none d-lg-block">Brands </h6>
						<form action="#" class="mt-4 mt-lg-0">
							<div class="form-group mb-1">
								<div class="custom-control custom-checkbox">
									<input id="brand0" type="checkbox" name="clothes-brand" checked class="custom-control-input">
									<label for="brand0" class="custom-control-label">Calvin Klein <small>(18)</small></label>
								</div>
							</div>
							<div class="form-group mb-1">
								<div class="custom-control custom-checkbox">
									<input id="brand1" type="checkbox" name="clothes-brand" checked class="custom-control-input">
									<label for="brand1" class="custom-control-label">Levi Strauss <small>(30)</small></label>
								</div>
							</div>
							<div class="form-group mb-1">
								<div class="custom-control custom-checkbox">
									<input id="brand2" type="checkbox" name="clothes-brand" class="custom-control-input">
									<label for="brand2" class="custom-control-label">Hugo Boss <small>(120)</small></label>
								</div>
							</div>
							<div class="form-group mb-1">
								<div class="custom-control custom-checkbox">
									<input id="brand3" type="checkbox" name="clothes-brand" class="custom-control-input">
									<label for="brand3" class="custom-control-label">Tomi Hilfiger <small>(70)</small></label>
								</div>
							</div>
							<div class="form-group mb-1">
								<div class="custom-control custom-checkbox">
									<input id="brand4" type="checkbox" name="clothes-brand" class="custom-control-input">
									<label for="brand4" class="custom-control-label">Tom Ford  <small>(110)</small></label>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="sidebar-block px-3 px-lg-0 mr-lg-4"> <a data-toggle="collapse" href="#sizeFilterMenu" aria-expanded="false" aria-controls="sizeFilterMenu" class="d-lg-none block-toggler">Filter by size</a>-->
					<!-- Size filter menu-->
					<!--<div id="sizeFilterMenu" class="expand-lg collapse">
						<h6 class="sidebar-heading d-none d-lg-block">Size </h6>
						<form action="#" class="mt-4 mt-lg-0">
							<div class="form-group mb-1">
								<div class="custom-control custom-radio">
									<input id="size0" type="radio" name="size" checked class="custom-control-input">
									<label for="size0" class="custom-control-label">Small</label>
								</div>
							</div>
							<div class="form-group mb-1">
								<div class="custom-control custom-radio">
									<input id="size1" type="radio" name="size" class="custom-control-input">
									<label for="size1" class="custom-control-label">Medium</label>
								</div>
							</div>
							<div class="form-group mb-1">
								<div class="custom-control custom-radio">
									<input id="size2" type="radio" name="size" class="custom-control-input">
									<label for="size2" class="custom-control-label">Large</label>
								</div>
							</div>
							<div class="form-group mb-1">
								<div class="custom-control custom-radio">
									<input id="size3" type="radio" name="size" class="custom-control-input">
									<label for="size3" class="custom-control-label">X-Large</label>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="sidebar-block px-3 px-lg-0 mr-lg-4"><a data-toggle="collapse" href="#colourFilterMenu" aria-expanded="false" aria-controls="colourFilterMenu" class="d-lg-none block-toggler">Filter by colour</a>-->
					<!-- Size filter menu-->
					<!--<div id="colourFilterMenu" class="expand-lg collapse">
						<h6 class="sidebar-heading d-none d-lg-block">Colour </h6>
						<div class="mt-4 mt-lg-0">
							<ul class="list-inline mb-0 colours-wrapper">
								<li class="list-inline-item">
									<label for="colour_sidebar_Blue" style="background-color: #668cb9" data-allow-multiple class="btn-colour"> </label>
									<input type="checkbox" name="colour" value="value_sidebar_Blue" id="colour_sidebar_Blue" class="input-invisible">
								</li>
								<li class="list-inline-item">
									<label for="colour_sidebar_White" style="background-color: #fff" data-allow-multiple class="btn-colour"> </label>
									<input type="checkbox" name="colour" value="value_sidebar_White" id="colour_sidebar_White" class="input-invisible">
								</li>
								<li class="list-inline-item">
									<label for="colour_sidebar_Violet" style="background-color: #8b6ea4" data-allow-multiple class="btn-colour"> </label>
									<input type="checkbox" name="colour" value="value_sidebar_Violet" id="colour_sidebar_Violet" class="input-invisible">
								</li>
								<li class="list-inline-item">
									<label for="colour_sidebar_Red" style="background-color: #dd6265" data-allow-multiple class="btn-colour"> </label>
									<input type="checkbox" name="colour" value="value_sidebar_Red" id="colour_sidebar_Red" class="input-invisible">
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>-->
			<!-- /Sidebar end-->
		</div>
	</div>
</main>
<!-- Quickview Modal    -->
<div id="product-modal" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade quickview">
	<div role="document" class="modal-dialog modal-full m-0-sm modal-lg">
		<div class="modal-content">
			<button type="button" data-dismiss="modal" aria-label="Close" class="close modal-close">
				<svg class="svg-icon w-100 h-100 svg-icon-light align-middle">
					<use xlink:href="#close-1"> </use>
				</svg>
			</button>
			<div class="modal-body">
				<!--<div class="ribbon ribbon-primary" id="ribbon">Sale</div>-->
				<div class="row mt-5">
					<div class="col-lg-6">
						<div data-slider-id="1" class="owl-carousel owl-theme owl-dots-modern detail-full my-2">
							<div style="background: center center url('/assets/img/photo/kyle-loftus-596319-detail-1.jpg') no-repeat; background-size: cover;" class="detail-full-item-modal-mt d-flex justify-content-center">  </div>
							<div style="background: center center url('/assets/img/photo/kyle-loftus-596319-detail-2.jpg') no-repeat; background-size: cover;" class="detail-full-item-modal-mt d-flex justify-content-center">  </div>
							<div style="background: center center url('/assets/img/photo/kyle-loftus-596319-detail-3.jpg') no-repeat; background-size: cover;" class="detail-full-item-modal-mt d-flex justify-content-center">  </div>
							<div style="background: center center url('/assets/img/photo/kyle-loftus-594535-unsplash-detail-3.jpg') no-repeat; background-size: cover;" class="detail-full-item-modal-mt d-flex justify-content-center">  </div>
							<div style="background: center center url('/assets/img/photo/kyle-loftus-594535-unsplash-detail-4.jpg') no-repeat; background-size: cover;" class="detail-full-item-modal-mt d-flex justify-content-center">  </div>
						</div>
						<!--<div id="carouselIndicators" class="carousel slide" data-ride="carousel">
							<ol class="carousel-indicators">
								<li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
								<li data-target="#carouselIndicators" data-slide-to="1"></li>
								<li data-target="#carouselIndicators" data-slide-to="2"></li>
							</ol>
							<div class="carousel-inner">
								<div class="carousel-item active">
									<img src="/assets/noimage.png" class="d-block w-100" alt="image">
								</div>
								<div class="carousel-item">
									<img src="/assets/noimage.png" class="d-block w-100" alt="image">
								</div>
								<div class="carousel-item">
									<img src="/assets/noimage.png" class="d-block w-100" alt="image">
								</div>
							</div>
							<a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
								<span class="carousel-control-prev-icon" aria-hidden="true"></span>
								<span class="sr-only">Previous</span>
							</a>
							<a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
								<span class="carousel-control-next-icon" aria-hidden="true"></span>
								<span class="sr-only">Next</span>
							</a>
						</div>-->
					</div>
					<div class="col-lg-6 d-flex align-items-center justify-content-center">
						<div>
							<h3 class="mb-5 mt-4 mt-lg-1 thin-weight" id="prod-title">Product Title</h3>
							<!--<div class="py-2">
								<p class="text-muted text-lg mb-1" id="prod-ctg">Card</p>
							</div>
							<div class="d-flex flex-column flex-sm-row align-items-sm-center justify-content-sm-between mb-4">
								<ul class="list-inline mb-2 mb-sm-0">
									<li class="list-inline-item h4 font-weight-light mb-0" id="prod-price-na">$65.00</li>
									<li class="list-inline-item text-muted font-weight-light">
										<del id="prod-org-price">$90.00</del>
									</li>
								</ul>
								<div class="d-flex align-items-center">
									<ul class="list-inline mr-2 mb-0">
										<li class="list-inline-item mr-0"><i class="fa fa-star text-primary"></i></li>
										<li class="list-inline-item mr-0"><i class="fa fa-star text-primary"></i></li>
										<li class="list-inline-item mr-0"><i class="fa fa-star text-primary"></i></li>
										<li class="list-inline-item mr-0"><i class="fa fa-star text-primary"></i></li>
										<li class="list-inline-item mr-0"><i class="fa fa-star text-gray-300"></i></li>
									</ul><span class="text-muted text-uppercase text-sm">25 reviews</span>
								</div>
							</div>-->
							<!--<div class="product-variants" class="col-md-6" >
								<h3 class="product-section-title"><%= Spree.t(:variants) %></h3>
								<div class="variants-showcase-imgs">
								<input id="variant_id" name="variant_id" type="hidden" value="0" />
								</div>
							</div>-->
							<div class="row d-flex align-items-center my-4">
								<div class="col-3">
									<svg class="sm-service-icon">
										<use xlink:href="#inr-currency"> </use>
									</svg>
								</div>
								<div class="col-9 text-left">
									<span class="icon-sub-heading" id="prod-price">Price</span><span>&nbsp;&nbsp;<del id="prod-org-price" class="text-muted">Original Price</del><br><span class="text-muted">Free Shipping</span><br>
								</div>
							</div>
							<div class="row d-flex align-items-center my-3">
								<div class="col-3">
									<svg class="sm-service-icon" id="icon-holder">
										<use xlink:href="#desc-icon"> </use>
									</svg>
								</div>
								<div class="col-9 text-left">
									<span class="icon-sub-heading" id="desc-title">Page Editing</span><br><span class="text-muted" id="prod-desc">Add Text/Image(s)</span>
								</div>
							</div>
							<div class="row d-flex align-items-center my-3">
								<div class="col-3">
									<svg class="sm-service-icon">
										<use xlink:href="#post-dark"> </use>
									</svg>
								</div>
								<div class="col-9 text-left">
									<span class="icon-sub-heading">Available in India</span><br><span class="text-muted">Ships same day if ordered before 11am</span>
								</div>
							</div>
							<div class="row d-flex align-items-center mt-3 mb-6" id="card-dimensions">
								<div class="col-3">
									<svg class="sm-service-icon">
										<use xlink:href="#dimension-dark"> </use>
									</svg>
								</div>
								<div class="col-9 text-left">
									<span class="icon-sub-heading">Size</span><br><span class="text-muted">5.8 in x 11.5 in</span>
								</div>
							</div>
							
							<!--<form action="/cardinit/6-is-cute" accept-charset="UTF-8" method="post">-->
							<%= form_tag populate_orders_path, :method => "post" do %>
								<div class="row">
									<div class="col-12 detail-option mb-3" id="product-variants">
										<h6 class="variants-option-heading">Variants</h6>
										<ul class="list-inline mb-0 variants-wrapper">
											<li class="list-inline-item">
												<label for="colour_Blue" style="background-color: #668cb9" class="btn-colour"> </label>
												<input type="radio" name="colour" value="value_Blue" id="colour_Blue" required class="input-invisible">
											</li>
											<li class="list-inline-item">
												<label for="colour_White" style="background-color: #fff" class="btn-colour"> </label>
												<input type="radio" name="colour" value="value_White" id="colour_White" required class="input-invisible">
											</li>
											<li class="list-inline-item">
												<label for="colour_Violet" style="background-color: #8b6ea4" class="btn-colour"> </label>
												<input type="radio" name="colour" value="value_Violet" id="colour_Violet" required class="input-invisible">
											</li>
											<li class="list-inline-item">
												<label for="colour_Red" style="background-color: #dd6265" class="btn-colour"> </label>
												<input type="radio" name="colour" value="value_Red" id="colour_Red" required class="input-invisible">
											</li>
										</ul>
									</div>
									<!--<div class="col-sm-6 col-lg-12 detail-option mb-3">
										<h6 class="detail-option-heading">Size <span>(required)</span></h6>
										<label for="size_0" class="btn btn-sm btn-outline-secondary detail-option-btn-label">
												
											Small
											<input type="radio" name="size" value="value_0" id="size_0" required class="input-invisible">
										</label>
										<label for="size_1" class="btn btn-sm btn-outline-secondary detail-option-btn-label">
												
											Medium
											<input type="radio" name="size" value="value_1" id="size_1" required class="input-invisible">
										</label>
										<label for="size_2" class="btn btn-sm btn-outline-secondary detail-option-btn-label">
												
											Large
											<input type="radio" name="size" value="value_2" id="size_2" required class="input-invisible">
										</label>
									</div>
									<div class="col-sm-6 col-lg-12 detail-option mb-3">
										<h6 class="detail-option-heading">Type <span>(required)</span></h6>
										<label for="material_0" class="btn btn-sm btn-outline-secondary detail-option-btn-label">
												
											Hoodie
											<input type="radio" name="material" value="value_0" id="material_0" required class="input-invisible">
										</label>
										<label for="material_1" class="btn btn-sm btn-outline-secondary detail-option-btn-label">
												
											College
											<input type="radio" name="material" value="value_1" id="material_1" required class="input-invisible">
										</label>
									</div>
									<div class="col-12 detail-option mb-3">
										<h6 class="detail-option-heading">Colour <span>(required)</span></h6>
										<ul class="list-inline mb-0 colours-wrapper">
											<li class="list-inline-item">
												<label for="colour_Blue" style="background-color: #668cb9" class="btn-colour"> </label>
												<input type="radio" name="colour" value="value_Blue" id="colour_Blue" required class="input-invisible">
											</li>
											<li class="list-inline-item">
												<label for="colour_White" style="background-color: #fff" class="btn-colour"> </label>
												<input type="radio" name="colour" value="value_White" id="colour_White" required class="input-invisible">
											</li>
											<li class="list-inline-item">
												<label for="colour_Violet" style="background-color: #8b6ea4" class="btn-colour"> </label>
												<input type="radio" name="colour" value="value_Violet" id="colour_Violet" required class="input-invisible">
											</li>
											<li class="list-inline-item">
												<label for="colour_Red" style="background-color: #dd6265" class="btn-colour"> </label>
												<input type="radio" name="colour" value="value_Red" id="colour_Red" required class="input-invisible">
											</li>
										</ul>
									</div>-->
									<div id="item-quantity" class="col-12 detail-option mb-6">
										<label for="quantity" class="detail-option-heading font-weight-bold">Quantity <span>(required)</span></label>
										<input type="number" name="quantity" id="quantity" value="1" class="form-control detail-quantity">
									</div>
								</div>
								<div id="makemycard-outer" class="row fixed-bottom-sm d-flex align-items-center justify-content-center py-2">
									<ul class="list-inline m-0">
										<li class="list-inline-item">
											<!--<button type="submit" class="btn btn-theme btn-lg mb-1"> <i class="fa fa-shopping-cart mr-2"></i>Add to Cart</button>-->
											<input type="submit" id="makemycard" name="commit" value="Make My Card" class="btn btn-theme btn-lg mb-1" data-disable-with="Make My Card">
										</li>
										<!--<li class="list-inline-item"><a href="#" class="btn btn-outline-secondary mb-1"> <i class="far fa-heart mr-2"></i>Add to wishlist</a></li>-->
									</ul>
								</div>
								<%= hidden_field_tag "variant_id", 0 %>
								<%= hidden_field_tag "slug", 'slug' %>
							<!--</form>-->
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>