<% content_for :page_title do %>
  <%= plural_resource_name(Spree::ProductCategory) %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:new_product_category), new_object_url, class: "btn-success", icon: 'add' %>
<% end if can? :create, Spree::ProductCategory %>

<% if @product_categories.any? %>
  <table class="table">
    <thead>
      <tr data-hook="categories_header">
        <th><%= Spree.t(:name) %></th>
        <th class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @product_categories.each do |product_category|%>
      <tr id="<%= spree_dom_id product_category %>" data-hook="category_row">
        <td><%= product_category.name %></td>
        <td class="actions actions-2 text-right">
          <%= link_to_edit(product_category, no_text: true) if can? :edit, product_category %>
          <%= link_to_delete(product_category, no_text: true) if can? :edit, product_category %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-info no-objects-found">
    <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::ProductCategory)) %>,
    <%= link_to(Spree.t(:add_one), new_object_url) if can? :create, Spree::ProductCategory %>!
  </div>
<% end %>
