<div class="col-lg-4">
  <div class="block">
    <div class="block-header">
      <h6 class="text-uppercase mb-0">Order Summary</h6>
    </div>
    <div class="block-body bg-light pt-1">
      <!--<p class="text-sm">Shipping and additional costs are calculated based on values you have entered.</p>-->
      <ul class="order-summary mb-0 list-unstyled">
        <!--<li class="order-summary-item"><span>Order Subtotal </span><span>$390.00</span></li>
        <li class="order-summary-item"><span>Shipping and handling</span><span>$10.00</span></li>
        <li class="order-summary-item"><span>Tax</span><span>$0.00</span></li>
        <li class="order-summary-item border-0"><span>Total</span><strong class="order-summary-total">$400.00</strong></li>-->
        <li class="order-summary-item"><span><%= Spree.t(:subtotal) %> </span><span><%= order.display_item_total.to_html %></span></li>
        
        <% if order.line_item_adjustments.exists? %>
          <% if order.line_item_adjustments.promotion.eligible.exists? %>
            <% order.line_item_adjustments.promotion.eligible.group_by(&:label).each do |label, adjustments| %>
              <li class="order-summary-item"><span><%= Spree.t(:promotion) %>: <strong><%= label %></span><span><%= Spree::Money.new(adjustments.sum(&:amount), currency: order.currency) %></span></li>
            <% end %>
          <% end %>
        <% end %>
        <% order.shipments.group_by { |s| s.selected_shipping_rate.name }.each do |name, shipments| %>
          <li class="order-summary-item"><span><%= Spree.t(:shipping) %>: <strong><%= name %></span><span><%= Spree::Money.new(shipments.sum(&:discounted_cost), currency: order.currency).to_html %></span></li>
        <% end %>
        <% if order.all_adjustments.tax.exists? %>
          <% order.all_adjustments.tax.group_by(&:label).each do |label, adjustments| %>
            <li class="order-summary-item"><span><%= Spree.t(:tax) %>: <strong><%= label %></span><span><%= Spree::Money.new(adjustments.sum(&:amount), currency: order.currency) %></span></li>
          <% end %>
        <% end %>
        <% order.adjustments.eligible.each do |adjustment| %>
          <% next if (adjustment.source_type == 'Spree::TaxRate') and (adjustment.amount == 0) %>
            <li class="order-summary-item"><span><%= adjustment.label %></span><span><%= adjustment.display_amount.to_html %></span></li>
        <% end %>
        <li class="order-summary-item border-0"><span><%= Spree.t(:order_total) %></span><strong class="order-summary-total"><%= order.display_total.to_html %></strong></li>
        

      </ul>
    </div>
  </div>
</div>